﻿@{
    ViewBag.Title = "Story";
}

    <div class="container">



        <p>@Model["story"].InnerText</p>

        @Html.ActionLink("Edit", "Edit", new { id = @Model["Id"].InnerText }) |
        @Html.ActionLink("Remove", "Remove", new { id = @Model["Id"].InnerText }) 
        
    </div>



